body {
    display: flex;
    justify-content: center;

    align-items: center;

    height: 100vh;
}

.menu {
    margin-bottom: 20px;
}

.menu button {
    margin-right: 4px;
    padding: 10px;

}

.menu a {
    text-decoration: none;
    color: black;
}

fieldset {
    width: 300px;
    padding: 20px;
}

table {
    width: 300px;
    border-collapse: collapse;
}

tr,
td,
th
{
    padding: 5px;
    border: 1px black solid;
}



p {
    margin: 3px 0;
}